@font-face 
    font-family: "courgette"
    src: url("../font/courgette/Courgette-Regular.ttf")
@font-face 
    font-family: "ubuntu"
    src: url("../font/ubuntu/Ubuntu-Regular.ttf")
@font-face 
    font-family: "lobster"
    src: url("../public/font/lobster")