// SECTION 1
@media screen and (max-width: 991px)
    .para1
        padding-left: 0
        padding-right: 0
    
    
    
    // SECTION 2 PARTIE 2 
@media screen and (max-width: 762px)
    .date
        font-size: 8px
    .numdate
        font-size: 10px
@media screen and (min-width: 763px)
    .date
        font-size: 18px
    .numdate
        font-size: 20px
// SECTION 4 
@media screen and (max-width: 762px)
    .gdform
        padding-left: 0
        padding-right: 0

    
    