.section1
   
.granddiv
    margin-left: 7%
    margin-right: 7%
    padding-top: 40px
.ihi
    display: flex
    justify-content: space-between
    h1
        padding-top: 40px
.h2img
    padding-top: 70px
.our
    font-size: 40px

h4
    font-family: "courgette"
    color: grey
.dollar
    background-color: #dfd8d7fa
p
    font-size: 14px
.patatos
    // text-transform: uppercase
    font-weight: bold
.imgcafe 
    border: solid 7px
    border-color: #c8c0d6f8

.break
    text-decoration: none
.divicon
    text-decoration: none
.aicon
.aicon:hover
    color: #c243
.divbas
    display: flex
    justify-content: space-between
    

// .section1
//     div
//         div
//         p
//         div
//         div
//             div
//                 div
//                     .divicon
                        
//                         .aicon
                            
//                         .aicon:hover 
//                             background-color: red

                
            // .divicon:hover
            //     // color: red
            //     // border-bottom: 0px
            //     // border-left: 0px
            //     // border-top: 0px
            //     // border-right-color: red 5px 
            //     border-right: 5px solid
            //     color: red
