
   
.granddiv
    margin-left: 7%
    margin-right: 7%
    padding-top: 40px
.ihi
    position: relative
    display: flex
    justify-content: center
    .coin1
        position: absolute
        top: 0
        left: 0
    .coin2
        position: absolute
        top: 0
        right: 0
    .coinbas1
        position: absolute
        bottom: 0
        left: 0
    .coinbas2
        position: absolute
        bottom: 0
        right: 0
    h1
        padding-top: 40px
.h2img
    padding-top: 70px
.noirrouge
    font-family: "courgette"
.our
    font-size: 40px
    font-family: "courgette"
    font-style: italic

h4
    font-family: "courgette"
    color: grey
    font-style: italic
.dollar
    background-color: #dfd8d7fa
.para1
    padding-left: 30vh
    padding-right: 30vh
p
    font-size: 14px
.patatos
    // text-transform: uppercase
    font-weight: bold
.imgcafe 
    border: solid 7px
    border-color: #c8c0d6f8

.break
    text-decoration: none
.divicon
    text-decoration: none
// a
//     color: none
// .burger
// .burger:hover
//     color: red
.aicon
    
    color: #757070fa
.aicon:hover
    color: #bb1c3cfb
.divbas
    display: flex
    justify-content: space-between
    

// .section1
//     div
//         div
//         p
//         div
//         div
//             div
//                 div
//                     .divicon
                        
//                         .aicon
                            
//                         .aicon:hover 
//                             background-color: red

                
            // .divicon:hover
            //     // color: red
            //     // border-bottom: 0px
            //     // border-left: 0px
            //     // border-top: 0px
            //     // border-right-color: red 5px 
            //     border-right: 5px solid
            //     color: red
